<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Lista de Citas</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-table [dataSource]="citas" class="mat-elevation-8">
        <!-- Columna ID -->
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
          <mat-cell *matCellDef="let cita">{{ cita.id }}</mat-cell>
        </ng-container>

        <!-- Columna Nombre -->
        <ng-container matColumnDef="nombre">
          <mat-header-cell *matHeaderCellDef>Nombre de la Cita</mat-header-cell>
          <mat-cell *matCellDef="let cita">{{ cita.nombre }}</mat-cell>
        </ng-container>

        <!-- Columna Fecha -->
        <ng-container matColumnDef="fecha">
          <mat-header-cell *matHeaderCellDef>Fecha</mat-header-cell>
          <mat-cell *matCellDef="let cita">{{ cita.fecha | date:'dd/MM/yyyy' }}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </mat-card-content>
  </mat-card>
</div>